<body class="site-bg70">
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Edit Your Account</h1>
        <hr class="my-4">

    </div>
  </section>

  <section>
    <div class="text-center">
      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="p-2 card-about justify-content-center">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </section>
</body>
