
<body>
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Create New Show</h1>
        <hr class="my-4">

    </div>
  </section>

  <section>
    <div class="d-flex flex-row justify-content-center flex-wrap">
    <div class="justify-content-center">
      <%= render 'form' %>

    </div>
    </div>
    </section>
  </body>
